@model IEnumerable<Project_FurnitureStore.Models.LoaiHangViewModel>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    @{
            int totalCount = Model.Count();
            int itemsPerSlide = 5;
            int slideCount = (int)Math.Ceiling((double)totalCount / itemsPerSlide);
            int loopCount = 0;

            for (int slideIndex = 0; slideIndex < slideCount; slideIndex++)
            {
                <text>
                    <div class="carousel-item @(slideIndex == 0 ? "active" : "")">
                        <div class="cards-wrapper dm">
                            <div class=" h-[380px] px-10">
                                <div class="grid grid-cols-5 gap-x-3 ">
                                    @for (int i = loopCount; i < totalCount && i < loopCount + itemsPerSlide; i++)
                                    {
                                        var item = Model.ElementAt(i);

                                        <div class="bg-white  h-[380px] w-full p-[10px]">
                                            <img class="w-full h-[250PX]"  src="@Url.Content("~/Images/"+item.Anh)" >
                                            <p class="font-Raleway font-semibold text-xl">@item.tenLoai</p>
                                        </div>
                                    }

                                    @if (loopCount < totalCount)
                                    {
                                        loopCount += itemsPerSlide;
                                    }
                                    else
                                    {
                                        break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </text>
            }
        }
  </div>
  <a class="carousel-control-prev" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-target="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>