@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid xl:grid-cols-2 h-[490px]">
	<div style="" class=" flex ml-[150px]">
		<div class="">

			<div class="grid gap-1">
				<svg class="mx-auto w-12 h-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
				</svg>
				<div class="text-center">
					<h2 class="font-semibold text-2xl md:text-3xl">Welcome back</h2>
					<p class="text-orange-800 mt-3">Welcome back! Please enter your details.</p>
				</div>
				<form asp-action="Login" method="post" class="grid gap-4 pt-3">
					<div class="grid gap-4 pt-3">
						<input name="account1" type="account" id="account" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							   placeholder="Enter your account" required>

						<input name="pass1" type="password" id="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							   placeholder="Enter your password" required>
						<span class="text-red-200">@ViewBag.UserName</span>
						<button type="submit" class="w-full focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
							Login
						</button>
					</div>
				</form>
			</div>



			<div class="">
				<button type="button" class="flex w-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-[10px] py-2.5 mr-2 mb-2">
					<svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5 pr-2" viewBox="0 0 512 512"><path d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd" /></svg>
					Continue with Facebook
				</button>

			</div>

			<div class="text-center text-sm mt-5">
				<span class="text-orange-800">Don't have a account?</span>
				<a class="font-semibold underline hover:text-purple-400 transition-all" href="#">Sign up</a>
			</div>

		</div>


	</div>

	<div class="">
		<img class="h-[490px] w-full object-cover" src="~/Images/login1.jpg" alt="login1" />
	</div>
</div>
