@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="flex">
	<div class=" bg-cyan-700  ">
		<div class="menu w-[250px] ">

			<ul>
				<li class="active text-xl bg-white"  id="ProductTab">ADMIN</li>
				<a href="@Url.Action("AddProductAdmin", "Admin")" > <li class="active" id="ProductTab"> Product</li> </a>
				<a href="@Url.Action("AddKhuyenMai", "Admin")"><li id="AllOrderTab">Voucher</li></a>
				<li id="VoucherTab">Voucher</li>
				<a href="@Url.Action("AddFlashSale", "Admin")"><li id="FlashSaleTab">FlashSale</li></a>
				<li id="CoinTab">Coin</li>
			</ul>


		</div>




	</div>
	<div>@RenderBody() </div>
</div>


