@tailwind base;
@tailwind components;
@tailwind utilities;





.quantity {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 50px;
    text-align: center;
}




.color-options {
    display: flex;
}

.color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}

.red {
    background-color: #FF0000;
}

.blue {
    background-color: #0000FF;
}

.green {
    background-color: #00FF00;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .color {
        border: 4px solid #FFF;
}

.red-text {
    color: red;
}

.marquee-image {
    display: inline-block;
    width: 50px; /* Adjust the size of the image */
    height: 50px;
    border-radius: 50%; /* Make the shape circular */
    margin-right: 10px; /* Add some spacing between the image and text */
    animation: marquee 12s linear infinite; /* Adjust animation duration */
    animation-delay: -2s;
}

.marquee-text {
    background-color: #F2ECBE;
    margin-left: 10px; /* Add some spacing to the left of the text */
    animation: marquee 10s linear infinite;
    text-decoration-color: #F2ECBE;
    font-weight: bold;
    font-size: 30px; /* Adjust the font size */
}

.buy-button {
    background-color: #000f; /* Màu nền */
    border: none; /* Loại bỏ đường viền */
    color: white; /* Màu chữ */

    text-align: center; /* Căn giữa nội dung trong nút */
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 4px; /* Góc bo tròn cho nút */
    cursor: pointer;
}

.buy-button:hover {
        background-color: white; /* Màu nền */
        color: black; /* Loại bỏ đường viền */
        border-color: black;
        border: solid;
 }/*
//-------------=================*/

.feedback-container {
    max-width: 600px;
 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
}

.rating {
    font-size: 24px;
    color: gold;
}

.detail {
    margin-top: 10px;
}

    .detail img {
        max-width: 100%;
        height: auto;
    }

    .detail video {
        max-width: 100%;
        height: auto;
    }





.chin:after {
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background: #9A3B3B;
}

