@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;




.red-text {
    color: red;
}

.marquee-image {
    display: inline-block;
    width: 50px; /* Adjust the size of the image */
    height: 50px;
    border-radius: 50%; /* Make the shape circular */
    margin-right: 10px; /* Add some spacing between the image and text */
    animation: marquee 12s linear infinite; /* Adjust animation duration */
    animation-delay: -2s;
}

.marquee-text {
    background-color: #F2ECBE;
    margin-left: 10px; /* Add some spacing to the left of the text */
    animation: marquee 10s linear infinite;
    text-decoration-color: #F2ECBE;
    font-weight: bold;
    font-size: 30px; /* Adjust the font size */
}

.buy-button {
    background-color: #000f; /* Màu nền */
    border: none; /* Loại bỏ đường viền */
    color: white; /* Màu chữ */

    text-align: center; /* Căn giữa nội dung trong nút */
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 4px; /* Góc bo tròn cho nút */
    cursor: pointer;
}

    .buy-button:hover {
        background-color: white; /* Màu nền */
        color: black; /* Loại bỏ đường viền */
        border-color: black;
        border: solid;
    }


.chin-menu {
    @apply cursor-pointer py-1 hover:text-amber-800 relative after:absolute after:bottom-0 after:left-0 after:bg-blue-900 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}
