@model IEnumerable<Project_FurnitureStore.Models.KhachHangViewModel>

<div>
	<div style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; border: 1px solid #ccc; border-radius: 10px; max-width: 300px;">
		<h2 style="font-size: 20px; margin-bottom: 10px; color:blue">Thông tin Khách Hàng</h2>
		@{
			@foreach (var item in Model)
			{
				<div style="margin-bottom: 10px;">
					<strong>Tên Khách Hàng:</strong>
					<span style="display: inline-block; margin-left: 10px;">@item.TenKhachHang</span>
				</div>
				<div style="margin-bottom: 10px;">
					<strong>Địa Chỉ:</strong>
					<span style="float:left;display: inline-block; margin-left: 10px;">@item.DiaChi</span>
				</div>
				<div style="margin-bottom: 10px;">
					<strong>Số Điện Thoại:</strong>
					<span style="display: inline-block; margin-left: 10px;">@item.SDT</span>
				</div>
				<div style="margin-bottom: 10px;">
					<strong>Điểm Tích Lũy:</strong>
					<span style="display: inline-block; margin-left: 10px;">@item.DiemTichLuy</span>
				</div>
			}
		}

	</div>
	<br />
	<button class="ml-[220px]" style="padding: 5px 10px; font-size: 16px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;">Click me</button>

</div>

